.how-it-works_text { background: transparent url(//img.rocket4app.com/cases/title/case-stars.png) no-repeat scroll 50% 0px; max-height: 240px; }
.case-stars-h2 { color: rgb(166, 117, 0); font-size: 215%; font-family: 'Roboto Slab',sans-serif; vertical-align: bottom; display: inline; line-height: 340px; }
                     
.case-header_title {
	font-family: "Roboto Slab",sans-serif;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: -10px;
	text-align: center;		
}
.casetitle { 
	padding-top: 42px; 
	line-height: 50px; 
	margin-bottom: 30px; 
}
.casebrand { 
	padding-top: 8px; 
	line-height: 68%; 
	font-weight: 600; 
	color: rgb(60, 190, 206); 
}
.caseheader { background: transparent url(//img.rocket4app.com/cases/title/case-header.png) no-repeat scroll 50% 2px;margin-bottom:0px; }
.offers_title {
	background:url(//img.rocket4app.com/images/grey_title.png) no-repeat 50% 0
}
.offers_h2 { 
	font-family:'Roboto Slab', sans-serif;
	color: white; 
	font-size: 115%; 
	vertical-align: middle; 
	line-height: 296%; 
	font-weight: 400; 
	text-align: center; 
	padding-left: 51px; 
	position:relative;
	min-height:64px;
	margin:0px auto;
}
.case-info-h2 { font-family: 'Roboto Slab',sans-serif; font-size: 142%; color: rgb(0, 108, 156); font-weight: 600; text-align: left; padding-bottom: 11px; }
.offers_france { background: transparent url(//img.rocket4app.com/cases/title/flag-france.png) no-repeat scroll 25% 2px; }
.offers_usa { background: transparent url(//img.rocket4app.com/cases/title/flag-usa.png) no-repeat scroll 25% 2px; }
.offers_uk { background: transparent url(//img.rocket4app.com/cases/title/flag-uk.png) no-repeat scroll 25% 2px; }
.offers_hk { background: transparent url(//img.rocket4app.com/cases/title/flag-hk.png) no-repeat scroll 25% 2px; }
.offers_russia { background: transparent url(//img.rocket4app.com/cases/title/flag-russia.png) no-repeat scroll 25% 2px; }
.offers_nl { background: transparent url(//img.rocket4app.com/cases/title/flag-nl.png) no-repeat scroll 25% 2px; }
