*,*:before,*:after{
	-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}
.default_settings{
	width:960px;
margin:0 auto;
padding:0
}
.inner_shadow,.outer_shadow{
	position:relative
}
.inner_shadow:before{
	position:absolute;
top:-1px;
right:0;
left:0;
display:block;
width:100%;
height:7px;
content:'';
background:url(//img.rocket4app.com/images/shadow.png) repeat-x 0 0
}
.outer_shadow:before{
	position:absolute;
right:0;
bottom:-6px;
left:0;
display:block;
width:100%;
height:7px;
content:'';
background:url(//img.rocket4app.com/images/shadow.png) repeat-x
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,font,dl,dt,dd,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	font-family:inherit;
font-size:100%;
font-weight:inherit;
font-style:inherit;
margin:0;
padding:0;
vertical-align:baseline;
border:0;
outline:0
}
body{
	line-height:1
}
ol{
	list-style-position:inside
}
table{
	border-spacing:0;
border-collapse:collapse
}
input,textarea{
	outline:none
}
input[type='submit']::-moz-focus-inner,button::-moz-focus-inner{
	padding:0;
border:0
}
img,a img{
	vertical-align:middle;
border:none
}
.clear{
	clear:both
}
.clearfix:before,.clearfix:after{
	line-height:0;
display:table;
content:''
}
.clearfix:after{
	clear:both
}
.hide,.hidden,.__hidden{
	display:none !important
}
.pull-left{
	float:left
}
.pull-right{
	float:right
}
.text-left{
	text-align:left !important
}
.text-right{
	text-align:right !important
}
.text-center{
	text-align:center !important
}
a{
	text-decoration:none;
color:inherit
}
a:hover{
	text-decoration:underline
}
dl{
	color:#fff
}
dl dt{
	display:inline-block;
width:16%;
vertical-align:top
}
dl dd{
	display:inline-block;
width:82%;
vertical-align:top
}
[class^='icon-'],[class*=' icon-']{
	line-height:1
}
[class^='icon-']:before,[class*=' icon-']:before{
	display:inline-block;
margin-top:-3px;
margin-right:10px;
content:'';
vertical-align:middle;
text-transform:none;
background:url(//img.rocket4app.com/images/icons.png) no-repeat
}
.icon-arrow-down:before{
	width:26px;
height:26px;
background-position:-5px 0
}
.icon-phone-big:before{
	width:19px;
height:19px;
background-position:-5px -31px
}
.icon-close:before{
	width:18px;
height:18px;
background-position:-5px -55px
}
.icon-apply:before{
	width:16px;
height:14px;
background-position:-5px -78px
}
.btn:hover .icon-apply:before{
	width:16px;
height:14px;
background-position:-5px -98px
}
.icon-envelope:before{
	width:16px;
height:12px;
background-position:-5px -117px
}
.icon-phone:before{
	width:16px;
height:16px;
background-position:-5px -134px
}
.icon-user:before{
	width:16px;
height:16px;
background-position:-5px -155px
}
.icon-more:before{
	width:15px;
height:15px;
background-position:-5px -176px
}
.btn:hover .icon-more:before{
	width:15px;
height:14px;
background-position:-5px -196px
}
.icon-envelope-white:before{
	width:14px;
height:10px;
background-position:-5px -215px
}
.icon-phone-white:before{
	width:14px;
height:14px;
background-position:-5px -230px
}
.icon-user-white:before{
	width:14px;
height:14px;
background-position:-5px -249px
}
.header_languages{
	position:absolute;
top:5px;
left:0
}
.header_languages_ul{
	margin:0;
padding:0;
list-style:none
}
.header_languages_ul li{
	display:inline-block;
vertical-align:middle
}
.header_languages_ul li a{
	display:block;
margin-right:8px;
margin-left:0;
color:#fff
}
.header_languages_ul li a:hover,.header_languages_ul li a.active{
	text-decoration:none;
color:#f8c300
}
html,body{
	height:100%;
cursor:default;
-webkit-touch-callout:none;
-webkit-overflow-scrolling:touch;
-webkit-text-size-adjust:100%
}
body{
	font:14px/1.5 'Open Sans', sans-serif;
width:100%;
color:#191918;
background:#000306
}
.wrapper{
	overflow-x:hidden;
min-width:960px;
max-width:1920px;
height:auto !important;
height:100%;
min-height:100%;
margin:0 auto;
background:#000306
}
.header{
	position:relative;
z-index:5;
height:139px
}
.content{
	padding:0 0 419px;
background:#fff
}
.container{
	width:960px;
margin:0 auto;
padding:0
}
.footer-wrapper{
	position:relative;
min-width:960px;
max-width:1920px;
height:339px;
margin:-339px auto 0;
background:url(//img.rocket4app.com/images/footer.png) no-repeat 50% 0
}
.homepage .footer-wrapper{
	position:relative
}
.block_link{
	position:absolute;
z-index:5;
top:0;
left:0;
display:block;
width:100%;
height:100%;
background:url(//img.rocket4app.com/images/blank.gif)
}
.divider{
	display:block;
height:11px;
margin-top:30px;
margin-bottom:30px;
background:url(//img.rocket4app.com/images/divider.png) no-repeat 50% 0
}
.dashed_divider{
	display:block;
height:4px;
margin-top:45px;
margin-bottom:45px;
background:url(//img.rocket4app.com/images/dashes.png) no-repeat 50% 0
}
.section_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
font-weight:700;
line-height:50px;
position:relative;
min-height:74px;
margin-bottom:50px;
text-align:center;
color:#fff;
background:url(//img.rocket4app.com/images/section_title.png) no-repeat 50% 0
}
.section_title small{
	font-size:21px;
font-weight:400;
line-height:1;
position:relative;
top:-10px;
display:inline-block;
padding:5px 15px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background:#f8c300
}
.form-control{
	font-family:'Open Sans', sans-serif;
font-size:14px;
font-weight:400;
line-height:normal;
display:inline-block;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:44px;
padding:0 15px 0 15px;
-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-moz-transition:border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
vertical-align:middle;
text-transform:none;
color:#6d6d6d;
border:1px solid #90b1c5;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background:#fff;
-moz-background-clip:padding-box;
background-clip:padding-box;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}
.form-control.__small{
	font-size:12px;
height:32px;
padding-left:40px;
color:#858585;
border-color:#bdbcbc;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background:#fff
}
.form-control.__small::-webkit-input-placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control.__small:-moz-placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control.__small::-moz-placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control.__small:-ms-input-placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control.__small.placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control.__no-bg{
	font-size:12px;
height:35px;
color:#fff;
border-color:#fff;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background:none
}
.form-control.__no-bg::-webkit-input-placeholder{
	opacity:1 !important;
color:#fff
}
.form-control.__no-bg:-moz-placeholder{
	opacity:1 !important;
color:#fff
}
.form-control.__no-bg::-moz-placeholder{
	opacity:1 !important;
color:#fff
}
.form-control.__no-bg:-ms-input-placeholder{
	opacity:1 !important;
color:#fff
}
.form-control.__no-bg.placeholder{
	opacity:1 !important;
color:#fff
}
.form-control.__no-bg:focus{
	border-color:#e6e6e6
}
.form-control.__no-border{
	border-color:#fff
}
.form-control.__no-border:focus{
	border-color:#e6e6e6
}
.form-control:focus{
	border-color:#6f99b3;
outline:0
}
.form-control[disabled]{
	border-color:transparent;
background:none;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}
.form-control::-webkit-input-placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control:-moz-placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control::-moz-placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control:-ms-input-placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control.placeholder{
	opacity:1 !important;
color:#6d6d6d
}
.form-control::-ms-clear{
	display:none
}
.form-control.__white{
	height:34px;
color:#1a1a18;
border-color:#9a9998;
background:#fff
}
.form-control.__white:focus{
	border-color:#add66c;
outline:0
}
.form-control.__white::-webkit-input-placeholder{
	color:#1a1a18
}
.form-control.__white:-moz-placeholder{
	color:#1a1a18
}
.form-control.__white::-moz-placeholder{
	color:#1a1a18
}
.form-control.__white:-ms-input-placeholder{
	color:#1a1a18
}
.form-control.__white.placeholder{
	color:#1a1a18
}
.form-control.error{
	color:#e1000e;
border-color:#e1000e
}
.form-control.error::-webkit-input-placeholder{
	color:#e1000e
}
.form-control.error:-moz-placeholder{
	color:#e1000e
}
.form-control.error::-moz-placeholder{
	color:#e1000e
}
.form-control.error:-ms-input-placeholder{
	color:#e1000e
}
.form-control.error.placeholder{
	color:#e1000e
}
textarea.form-control,textarea.form-control.__white{
	overflow:auto;
height:auto;
padding-top:7px;
padding-bottom:7px;
resize:none
}
.form-file{
	position:relative;
overflow:hidden;
height:35px
}
.form-file .file{
	font-size:600px;
position:absolute;
z-index:2;
top:0;
right:0;
width:auto;
height:35px;
cursor:pointer;
opacity:0;
-webkit-filter:aplha(opacity = 0);
filter:aplha(opacity = 0)
}
.form-file .form-control{
	padding-right:130px
}
.form-file .btn_file{
	position:absolute;
top:0;
right:0
}
.form-group-wrapper{
	margin-bottom:40px
}
.form-group{
	margin-bottom:20px
}
.form-group label{
	font-size:14px;
font-weight:400;
display:block;
margin-bottom:3px
}
.form-group label.__normal{
	font-weight:400;
color:#191918
}
.form-group label.radio,.form-group label.checkbox{
	padding-left:20px
}
.form-group label .jq-checkbox,.form-group label .jq-radio{
	float:left;
margin-top:5px;
margin-left:-20px
}
.form-group .required{
	color:#e10018
}
.form-group.__inline{
	padding-left:125px
}
.form-group.__inline label{
	float:left;
margin-top:7px;
margin-left:-125px
}
.form-group-inline{
	float:left
}
.form-group-inline .form-control{
	width:92px
}
.form-group-inline span{
	font-family:'Open Sans', sans-serif;
font-size:13px;
font-weight:400;
padding-right:15px;
color:#ebebeb
}
.form-group-inline+.form-group-inline{
	float:right
}
.form-group.__light label{
	color:#191918
}
.form-group.has-icon{
	position:relative
}
.form-group.has-icon .form-control{
	padding-left:55px
}
.form-group.has-icon .form-control.__small{
	padding-left:40px
}
.form-group.has-icon .form-control.__no-bg{
	padding-left:40px
}
.form-group.has-icon .form-control.__no-bg+.form-control-icon{
	left:15px
}
.form-group.has-icon .form-control-icon{
	position:absolute;
top:50%;
left:20px;
margin-top:-7px
}
.btn{
	font-family:'Roboto Slab', sans-serif;
font-size:15px;
font-weight:700;
line-height:50px;
position:relative;
display:inline-block;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:auto;
height:53px;
margin:0;
padding:0 15px 0 15px;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
text-align:center;
vertical-align:middle;
white-space:nowrap;
text-decoration:none !important;
color:#794c00;
border:1px solid #cca000;
border-bottom-width:3px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background:#fbda00;
background:url(data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGMzMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #fbda00 0%, #f8c300 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbda00), color-stop(100%, #f8c300));
background:-webkit-linear-gradient(top, #fbda00 0%, #f8c300 100%);
background:-o-linear-gradient(top, #fbda00 0%, #f8c300 100%);
background:-webkit-gradient(linear, left top, left bottom, from(#fbda00), to(#f8c300));
background:linear-gradient(to bottom, #fbda00 0%, #f8c300 100%)
}
.btn span{
	margin-right:20px
}
.btn.__fixed_size{
	padding-left:60px
}
.btn.__fixed_size span{
	line-height:36px;
position:absolute;
top:0;
left:0;
display:block;
width:45px;
height:100%;
margin:0
}
.btn.__fixed_size span:before{
	margin:-4px 0 0 0
}
.btn:focus{
	outline:none;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}
.btn:hover{
	text-decoration:none;
color:#794c00;
background:#f8c300;
background:url(data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4YzMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmRhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #f8c300 0%, #fbda00 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8c300), color-stop(100%, #fbda00));
background:-webkit-linear-gradient(top, #f8c300 0%, #fbda00 100%);
background:-o-linear-gradient(top, #f8c300 0%, #fbda00 100%);
background:-webkit-gradient(linear, left top, left bottom, from(#f8c300), to(#fbda00));
background:linear-gradient(to bottom, #f8c300 0%, #fbda00 100%)
}
.btn:active,.btn.active{
	outline:0;
-webkit-box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .3);
-moz-box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .3);
box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .3)
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{
	cursor:not-allowed;
pointer-events:none;
background:#c3c3c3;
background:url(data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzYzNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I5YjliOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iI2FjYWNhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOWE5YTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #c3c3c3 0%, #b9b9b9 51%, #acacac 84%, #a9a9a9 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3c3c3), color-stop(51%, #b9b9b9), color-stop(84%, #acacac), color-stop(100%, #a9a9a9));
background:-webkit-linear-gradient(top, #c3c3c3 0%, #b9b9b9 51%, #acacac 84%, #a9a9a9 100%);
background:-o-linear-gradient(top, #c3c3c3 0%, #b9b9b9 51%, #acacac 84%, #a9a9a9 100%);
background:-webkit-gradient(linear, left top, left bottom, from(#c3c3c3), color-stop(51%, #b9b9b9), color-stop(84%, #acacac), to(#a9a9a9));
background:linear-gradient(to bottom, #c3c3c3 0%, #b9b9b9 51%, #acacac 84%, #a9a9a9 100%);
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}
.ie8 .btn.disabled,.ie8 .btn[disabled],.ie8 fieldset[disabled] .btn{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#a9a9a9', GradientType=0)
}
.btn_primary{
	color:#fff;
border-color:#467c9f;
background:#98c7e3;
background:url(data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk4YzdlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTk5YjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #98c7e3 0%, #7199b2 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #98c7e3), color-stop(100%, #7199b2));
background:-webkit-linear-gradient(top, #98c7e3 0%, #7199b2 100%);
background:-o-linear-gradient(top, #98c7e3 0%, #7199b2 100%);
background:-webkit-gradient(linear, left top, left bottom, from(#98c7e3), to(#7199b2));
background:linear-gradient(to bottom, #98c7e3 0%, #7199b2 100%)
}
.btn_primary:hover{
	color:#fff;
background:#7199b2;
background:url(data:image/svg+xml;
base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxOTliMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OGM3ZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #7199b2 0%, #98c7e3 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #7199b2), color-stop(100%, #98c7e3));
background:-webkit-linear-gradient(top, #7199b2 0%, #98c7e3 100%);
background:-o-linear-gradient(top, #7199b2 0%, #98c7e3 100%);
background:-webkit-gradient(linear, left top, left bottom, from(#7199b2), to(#98c7e3));
background:linear-gradient(to bottom, #7199b2 0%, #98c7e3 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7199b2', endColorstr='#98c7e3', GradientType=0)
}
.btn_primary:after{
	position:absolute;
top:0;
left:45px;
display:block;
width:1px;
height:100%;
content:'';
background:#6699b9
}
.ui-helper-hidden-accessible{
	position:absolute;
overflow:hidden;
clip:rect(0, 0, 0, 0);
width:1px;
height:1px;
margin:-1px;
padding:0;
border:0
}
.btn_callback{
	font-size:12px;
line-height:25px;
display:inline-block;
height:29px;
padding-right:15px;
padding-left:15px;
color:#fff;
border:1px solid #b3c2cf;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background:rgba(170, 0, 222, 0.6) none repeat scroll 0% 0%;
min-width:140px;
text-align:center;
}
.btn_callback:hover{
	text-decoration:none;
background:#21709e
}
.btn_file{
	font-family:'Open Sans', sans-serif;
font-size:14px;
font-weight:400;
line-height:32px;
width:100px;
height:34px;
color:#fff;
border:1px solid #aaaaa9;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
background:#969594
}
.btn_file.hover{
	background:#7d7c7a
}
.btn_send{
	width:370px;
text-transform:uppercase
}
.btn_send:hover{
	color:#916c33
}
.btn_apply{
	width:auto;
padding-right:40px;
padding-left:18px;
text-transform:none;
color:#794c00
}
.btn_apply:hover{
	color:#916c33
}
.btn_apply:after{
	position:absolute;
top:0;
left:50px;
display:block;
width:1px;
height:100%;
content:'';
background:#e7c000
}
.btn_apply:before{
	position:absolute;
top:0;
left:49px;
display:block;
width:1px;
height:100%;
content:'';
background:#f6d22b
}
.btn_apply span{
	margin-right:28px
}
.btn_white{
	line-height:47px;
width:auto;
height:47px;
padding-right:40px;
padding-left:18px;
text-transform:none;
color:#000;
border:none;
background:#fff
}
.btn_white:hover{
	color:#fff;
background:#21709e
}
.btn_white span{
	margin-right:20px
}
.owl-carousel .owl-wrapper:after{
	line-height:0;
display:block;
visibility:hidden;
clear:both;
height:0;
content:'.'
}
.owl-carousel{
	position:relative;
display:none;
width:100%;
-ms-touch-action:pan-y
}
.owl-carousel .owl-wrapper{
	position:relative;
display:none;
-webkit-transform:translate3d(0px, 0px, 0px)
}
.owl-carousel .owl-wrapper-outer{
	position:relative;
overflow:hidden;
width:100%
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition:height 500ms ease-in-out;
-moz-transition:height 500ms ease-in-out;
-o-transition:height 500ms ease-in-out;
transition:height 500ms ease-in-out
}
.owl-carousel .owl-item{
	float:left
}
.owl-controls .owl-page,.owl-controls .owl-buttons div{
	cursor:pointer
}
.owl-controls{
	-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-khtml-user-select:none;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
.owl-carousel .owl-wrapper,.owl-carousel .owl-item{
	-webkit-transform:translate3d(0, 0, 0);
-moz-transform:translate3d(0, 0, 0);
-ms-transform:translate3d(0, 0, 0);
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden
}
.owl-theme .owl-controls{
	margin-top:10px;
text-align:center
}
.owl-theme .owl-controls .owl-buttons div{
	font-size:12px;
display:inline-block;
zoom:1;
margin:5px;
padding:3px 10px;
opacity:.5;
color:#fff;
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px;
background:#869791;
*display:inline;
filter:alpha(opacity = 50)
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	text-decoration:none;
opacity:1;
filter:alpha(opacity = 100)
}
.owl-theme .owl-controls .owl-page{
	display:inline-block;
zoom:1;
*display:inline
}
.owl-theme .owl-controls .owl-page span{
	display:block;
width:12px;
height:12px;
margin:5px 7px;
opacity:.5;
-webkit-border-radius:20px;
-moz-border-radius:20px;
border-radius:20px;
background:#869791;
filter:alpha(opacity = 50)
}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{
	opacity:1;
filter:alpha(opacity = 100)
}
.owl-theme .owl-controls .owl-page span.owl-numbers{
	font-size:12px;
width:auto;
height:auto;
padding:2px 10px;
color:#fff;
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px
}
.owl-item.loading{
	min-height:150px
}
.owl-origin{
	-webkit-perspective:1200px;
-webkit-perspective-origin-x:50%;
-webkit-perspective-origin-y:50%;
-moz-perspective:1200px;
-moz-perspective-origin-x:50%;
-moz-perspective-origin-y:50%;
-webkit-perspective:1200px;
-moz-perspective:1200px;
perspective:1200px
}
.owl-fade-out{
	z-index:10;
-webkit-animation:fadeOut .7s both ease;
-moz-animation:fadeOut .7s both ease;
-o-animation:fadeOut .7s both ease;
animation:fadeOut .7s both ease
}
.owl-fade-in{
	-webkit-animation:fadeIn .7s both ease;
-moz-animation:fadeIn .7s both ease;
-o-animation:fadeIn .7s both ease;
animation:fadeIn .7s both ease
}
.owl-backSlide-out{
	-webkit-animation:backSlideOut 1s both ease;
-moz-animation:backSlideOut 1s both ease;
-o-animation:backSlideOut 1s both ease;
animation:backSlideOut 1s both ease
}
.owl-backSlide-in{
	-webkit-animation:backSlideIn 1s both ease;
-moz-animation:backSlideIn 1s both ease;
-o-animation:backSlideIn 1s both ease;
animation:backSlideIn 1s both ease
}
.owl-goDown-out{
	-webkit-animation:scaleToFade .7s ease both;
-moz-animation:scaleToFade .7s ease both;
-o-animation:scaleToFade .7s ease both;
animation:scaleToFade .7s ease both
}
.owl-goDown-in{
	-webkit-animation:goDown .6s ease both;
-moz-animation:goDown .6s ease both;
-o-animation:goDown .6s ease both;
animation:goDown .6s ease both
}
.owl-fadeUp-in{
	-webkit-animation:scaleUpFrom .5s ease both;
-moz-animation:scaleUpFrom .5s ease both;
-o-animation:scaleUpFrom .5s ease both;
animation:scaleUpFrom .5s ease both
}
.owl-fadeUp-out{
	-webkit-animation:scaleUpTo .5s ease both;
-moz-animation:scaleUpTo .5s ease both;
-o-animation:scaleUpTo .5s ease both;
animation:scaleUpTo .5s ease both
}
@ -webkit-keyframes empty{
	0% {
		opacity:1
	}
	
}
@ -moz-keyframes empty{
	0% {
		opacity:1
	}
	
}
@ -o-keyframes empty{
	0% {
		opacity:1
	}
	
}
@ keyframes empty{
	0% {
		opacity:1
	}
	
}
@ -webkit-keyframes fadeIn{
	0% {
		opacity:0
	}
	100%{
		opacity:1
	}
	
}
@ -moz-keyframes fadeIn{
	0% {
		opacity:0
	}
	100%{
		opacity:1
	}
	
}
@ -o-keyframes fadeIn{
	0% {
		opacity:0
	}
	100%{
		opacity:1
	}
	
}
@ keyframes fadeIn{
	0% {
		opacity:0
	}
	100%{
		opacity:1
	}
	
}
@ -webkit-keyframes fadeOut{
	0% {
		opacity:1
	}
	100%{
		opacity:0
	}
	
}
@ -moz-keyframes fadeOut{
	0% {
		opacity:1
	}
	100%{
		opacity:0
	}
	
}
@ -o-keyframes fadeOut{
	0% {
		opacity:1
	}
	100%{
		opacity:0
	}
	
}
@ keyframes fadeOut{
	0% {
		opacity:1
	}
	100%{
		opacity:0
	}
	
}
@ -webkit-keyframes backSlideOut{
	25% {
		-webkit-transform:translateZ(-500px);
opacity:.5
	}
	75%{
		-webkit-transform:translateZ (-500 px ) translateX (-200%);
opacity:.5
	}
	100%{
		-webkit-transform:translateZ (-500 px ) translateX (-200%);
opacity:.5
	}
	
}
@ -moz-keyframes backSlideOut{
	25% {
		-moz-transform:translateZ(-500px);
opacity:.5
	}
	75%{
		-moz-transform:translateZ (-500 px ) translateX (-200%);
opacity:.5
	}
	100%{
		-moz-transform:translateZ (-500 px ) translateX (-200%);
opacity:.5
	}
	
}
@ -o-keyframes backSlideOut{
	25% {
		transform:translateZ(-500px);
opacity:.5
	}
	75%{
		transform:translateZ (-500 px ) translateX (-200%);
opacity:.5
	}
	100%{
		transform:translateZ (-500 px ) translateX (-200%);
opacity:.5
	}
	
}
@ keyframes backSlideOut{
	25% {
		-webkit-transform:translateZ(-500px);
-moz-transform:translateZ(-500px);
transform:translateZ(-500px);
opacity:.5
	}
	75%{
		-webkit-transform:translateZ (-500 px ) translateX (-200%);
-moz-transform:translateZ (-500 px ) translateX (-200%);
transform:translateZ (-500 px ) translateX (-200%);
opacity:.5
	}
	100%{
		-webkit-transform:translateZ (-500 px ) translateX (-200%);
-moz-transform:translateZ (-500 px ) translateX (-200%);
transform:translateZ (-500 px ) translateX (-200%);
opacity:.5
	}
	
}
@ -webkit-keyframes backSlideIn{
	0%, 25% {
		-webkit-transform:translateZ(-500px) translateX(200%);
opacity:.5
	}
	75%{
		-webkit-transform:translateZ (-500 px );
opacity:.5
	}
	100%{
		-webkit-transform:translateZ (0) translateX (0);
opacity:1
	}
	
}
@ -moz-keyframes backSlideIn{
	0%, 25% {
		-moz-transform:translateZ(-500px) translateX(200%);
opacity:.5
	}
	75%{
		-moz-transform:translateZ (-500 px );
opacity:.5
	}
	100%{
		-moz-transform:translateZ (0) translateX (0);
opacity:1
	}
	
}
@ -o-keyframes backSlideIn{
	0%, 25% {
		transform:translateZ(-500px) translateX(200%);
opacity:.5
	}
	75%{
		transform:translateZ (-500 px );
opacity:.5
	}
	100%{
		transform:translateZ (0) translateX (0);
opacity:1
	}
	
}
@ keyframes backSlideIn{
	0%, 25% {
		-webkit-transform:translateZ(-500px) translateX(200%);
-moz-transform:translateZ(-500px) translateX(200%);
transform:translateZ(-500px) translateX(200%);
opacity:.5
	}
	75%{
		-webkit-transform:translateZ (-500 px );
-moz-transform:translateZ (-500 px );
transform:translateZ (-500 px );
opacity:.5
	}
	100%{
		-webkit-transform:translateZ (0) translateX (0);
-moz-transform:translateZ (0) translateX (0);
transform:translateZ (0) translateX (0);
opacity:1
	}
	
}
@ -webkit-keyframes scaleToFade{
	to {
		-webkit-transform:scale(.8);
opacity:0
	}
	
}
@ -moz-keyframes scaleToFade{
	to {
		-moz-transform:scale(.8);
opacity:0
	}
	
}
@ -o-keyframes scaleToFade{
	to {
		-o-transform:scale(.8);
transform:scale(.8);
opacity:0
	}
	
}
@ keyframes scaleToFade{
	to {
		-webkit-transform:scale(.8);
-moz-transform:scale(.8);
-o-transform:scale(.8);
transform:scale(.8);
opacity:0
	}
	
}
@ -webkit-keyframes goDown{
	from {
		-webkit-transform:translateY(-100%)
	}
	
}
@ -moz-keyframes goDown{
	from {
		-moz-transform:translateY(-100%)
	}
	
}
@ -o-keyframes goDown{
	from {
		-o-transform:translateY(-100%);
transform:translateY(-100%)
	}
	
}
@ keyframes goDown{
	from {
		-webkit-transform:translateY(-100%);
-moz-transform:translateY(-100%);
-o-transform:translateY(-100%);
transform:translateY(-100%)
	}
	
}
@ -webkit-keyframes scaleUpFrom{
	from {
		-webkit-transform:scale(1.5);
opacity:0
	}
	
}
@ -moz-keyframes scaleUpFrom{
	from {
		-moz-transform:scale(1.5);
opacity:0
	}
	
}
@ -o-keyframes scaleUpFrom{
	from {
		-o-transform:scale(1.5);
transform:scale(1.5);
opacity:0
	}
	
}
@ keyframes scaleUpFrom{
	from {
		-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);
opacity:0
	}
	
}
@ -webkit-keyframes scaleUpTo{
	to {
		-webkit-transform:scale(1.5);
opacity:0
	}
	
}
@ -moz-keyframes scaleUpTo{
	to {
		-moz-transform:scale(1.5);
opacity:0
	}
	
}
@ -o-keyframes scaleUpTo{
	to {
		-o-transform:scale(1.5);
transform:scale(1.5);
opacity:0
	}
	
}
@ keyframes scaleUpTo{
	to {
		-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);
opacity:0
	}
	
}
.maintenance{
	padding-top:62px;
padding-bottom:95px;
text-align:center;
color:#fff
}
.maintenance_wrapper{
	background:#000306 url(//img.rocket4app.com/images/maintenance_bg.jpg) no-repeat 50% 100%
}
.maintenance_header{
	margin-bottom:40px
}
.maintenance_title{
	font-family:'Roboto Slab', sans-serif;
font-size:27px;
font-weight:700;
margin-top:25px
}
.maintenance_title small{
	font-weight:300;
display:block
}
.maintenance_rocket{
	height:501px;
margin-bottom:-110px;
background:url(//img.rocket4app.com/images/maintenance_rocket.png) no-repeat 50% 0
}
.maintenance_subtitle{
	font-family:'Roboto Slab', sans-serif;
font-size:31px;
font-weight:700;
margin-bottom:20px
}
.maintenance_subtitle small{
	font-size:17px;
font-weight:300;
display:block
}
.maintenance_form{
	margin:0 11px;
padding:28px;
border:2px solid #518491;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px
}
.maintenance_form_controls{
	height:44px;
margin-bottom:20px;
text-align:justify
}
.maintenance_form_controls>.form-group{
	display:inline-block;
width:285px;
vertical-align:middle
}
.maintenance_form_controls:after{
	display:inline-block;
width:100%;
height:0;
content:''
}
.maintenance_form .form-group-button{
	margin-bottom:0
}
.header{
	position:relative;
z-index:5;
height:139px;
max-height:5000em;
background:#000306 url(//img.rocket4app.com/images/header.jpg) no-repeat 50% 0
}
.header .container{
	position:relative
}
.header_logo{
	position:absolute;
z-index:100;
top:24px;
left:0;
display:block;
width:258px
}
.header_logo img{
	display:block;
width:100%
}
.header_right {
	position:absolute;
top:60px;
right:0;
text-align:right;
color:#fff
}
.header_right.lk {
	top: 23px;
}
.lk .btn_callback {
	border: 1px solid rgba(0,0,0,0);
}
.lk  .btn_callback:hover {
	border: 1px solid silver;
}
.header_phone{
	font-size:23px;
font-weight:700;
line-height:1
}
.header_callback{
	margin-top:12px;
margin-bottom:20px
}
.header_nav{
	margin:0;
padding:22px 0 0 45px;
list-style:none;
text-align:center
}
.header_nav li{
	display:inline-block;
vertical-align:middle
}
.header_nav li a{
	display:block;
margin-right:8px;
margin-left:8px;
color:#fff
}
.header_nav li a:hover{
	text-decoration:none;
color:#f8c300
}
.header_info{
	position:absolute;
top:145px
}
.header_info_left{
	float:left;
padding-top:45px
}
.header_info_right{
	float:right
}
.header_info_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
font-weight:700;
line-height:1.3;
margin-bottom:40px;
color:#fff
}
.header_info_title small{
	font-size:29px;
font-weight:300
}
.header_info_form{
	position:relative;
padding:25px 35px 20px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background:#21709e url(//img.rocket4app.com/images/header_form.png) no-repeat 50% 0
}
.header_info_form:before{
	position:absolute;
top:2px;
right:2px;
bottom:2px;
left:2px;
display:block;
content:'';
border:1px solid #fff;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px
}
.header_info_form_title{
	font-family:'Roboto Slab', sans-serif;
font-size:21px;
font-weight:700;
line-height:1;
position:relative;
margin-bottom:24px;
color:#fff
}
.header_info_form_title small{
	font-family:'Open Sans', sans-serif;
font-size:14px;
font-weight:400;
display:block
}
.header_info_form form{
	position:relative
}
.header_info_form .form-group{
	margin-bottom:9px
}
.header_info_form .form-group-button{
	margin-top:25px
}
.homepage .header{
	height:596px;
background-position:50% 100%
}
.footer{
	position:relative;
height:339px;
max-height:5000em;
color:#fff
}
.footer .container{
	position:relative;
height:339px;
padding-top:95px
}
.footer_left{
	float:left;
margin-top:10px
}
.footer_right{
	float:right;
text-align:right
}
.footer_logo{
	position:static;
margin-bottom:15px
}
.footer_callback{
	margin-top:17px
}
.footer_nav{
	margin-bottom:15px
}
.footer_nav_ul{
	position:relative;
display:inline-block;
margin:0 0 0 70px;
padding:0;
list-style:none
}
.footer_nav_ul:first-child{
	margin-left:0
}
.footer_nav_ul li{
	display:block;
margin-bottom:1px
}
.footer_nav_ul li a{
	font-size:14px;
display:block
}
.footer_nav_ul li a:hover{
	text-decoration:none;
color:#f8c300
}
.footer_social_ul{
	margin:0;
padding:0;
list-style:none
}
.footer_social_ul li{
	display:inline-block;
margin-right:10px
}
.footer_social_ul li a{
	display:block;
width:28px;
height:28px;
background:url(//img.rocket4app.com/images/social.png) no-repeat 0 0
}
.footer_social_ul li a.__fb{
	background-position:0 0
}
.footer_social_ul li a.__fb:hover{
	background-position:-10px -35px
}
.footer_social_ul li a.__in{
	background-position:-43px 0
}
.footer_social_ul li a.__in:hover{
	background-position:-53px -35px
}
.footer_social_ul li a.__tw{
	background-position:-86px 0
}
.footer_social_ul li a.__tw:hover{
	background-position:-96px -35px
}
.footer_social_ul li a.__yt{
	background-position:-129px 0
}
.footer_social_ul li a.__yt:hover{
	background-position:-139px -35px
}
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{
	margin:0;
padding:0;
vertical-align:top;
border:0;
outline:none
}
.fancybox-wrap{
	position:absolute;
z-index:8020;
top:0;
left:0
}
.fancybox-skin{
	position:relative;
color:#444;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background:#f9f9f9;
text-shadow:none
}
.fancybox-opened{
	z-index:8030
}
.fancybox-opened .fancybox-skin{
	-webkit-box-shadow:0 10px 25px rgba(0, 0, 0, .5);
-moz-box-shadow:0 10px 25px rgba(0, 0, 0, .5);
box-shadow:0 10px 25px rgba(0, 0, 0, .5)
}
.fancybox-outer,.fancybox-inner{
	position:relative
}
.fancybox-inner{
	overflow:hidden
}
.fancybox-type-iframe .fancybox-inner{
	-webkit-overflow-scrolling:touch
}
.fancybox-error{
	font:14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin:0;
padding:15px;
white-space:nowrap;
color:#444
}
.fancybox-image,.fancybox-iframe{
	display:block;
width:100%;
height:100%
}
.fancybox-image{
	max-width:100%;
max-height:100%
}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{
	background-image:url('(//img.rocket4app.com/images/fancy/fancybox_sprite.png')
}
#fancybox-loading{
	position:fixed;
z-index:8060;
top:50%;
left:50%;
margin-top:-22px;
margin-left:-22px;
cursor:pointer;
opacity:.8;
background-position:0 -108px
}
#fancybox-loading div{
	width:44px;
height:44px;
background:url('(//img.rocket4app.com/images/fancy/fancybox_loading.gif') center center no-repeat
}
.fancybox-close{
	position:absolute;
z-index:8040;
top:-18px;
right:-18px;
width:36px;
height:36px;
cursor:pointer
}
.fancybox-nav{
	position:absolute;
z-index:8040;
top:0;
width:40%;
height:100%;
cursor:pointer;
text-decoration:none;
background:transparent url('(//img.rocket4app.com/images/fancy/blank.gif');
-webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
.fancybox-prev{
	left:0
}
.fancybox-next{
	right:0
}
.fancybox-nav span{
	position:absolute;
z-index:8040;
top:50%;
visibility:hidden;
width:36px;
height:34px;
margin-top:-18px;
cursor:pointer
}
.fancybox-prev span{
	left:10px;
background-position:0 -36px
}
.fancybox-next span{
	right:10px;
background-position:0 -72px
}
.fancybox-nav:hover span{
	visibility:visible
}
.fancybox-tmp{
	position:absolute;
top:-99999px;
left:-99999px;
visibility:hidden;
overflow:visible !important;
max-width:99999px;
max-height:99999px
}
.fancybox-lock{
	overflow:hidden !important;
width:auto
}
.fancybox-lock body{
	overflow:hidden !important
}
.fancybox-lock-test{
	overflow-y:hidden !important
}
.fancybox-overlay{
	position:absolute;
z-index:8010;
top:0;
left:0;
display:none;
overflow:hidden;
background:
		url('//img.rocket4app.com/images/fancy/fancybox_overlay.png')
}
.fancybox-overlay-fixed{
	position:fixed;
right:0;
bottom:0
}
.fancybox-lock .fancybox-overlay{
	overflow:auto;
overflow-y:scroll
}
.fancybox-title{
	font:normal 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
position:relative;
z-index:8050;
visibility:hidden;
text-shadow:none
}
.fancybox-opened .fancybox-title{
	visibility:visible
}
.fancybox-title-float-wrap{
	position:absolute;
z-index:8050;
right:50%;
bottom:0;
margin-bottom:-35px;
text-align:center
}
.fancybox-title-float-wrap .child{
	font-weight:bold;
line-height:24px;
display:inline-block;
margin-right:-100%;
padding:2px 20px;
white-space:nowrap;
color:#fff;
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
background:transparent;
background:rgba(0, 0, 0, .8);
text-shadow:0 1px 2px #222
}
.fancybox-title-outside-wrap{
	position:relative;
margin-top:10px;
color:#fff
}
.fancybox-title-inside-wrap{
	padding-top:10px
}
.fancybox-title-over-wrap{
	position:absolute;
bottom:0;
left:0;
padding:10px;
color:#fff;
background:#000;
background:rgba(0, 0, 0, .8)
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){
	#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{
		background-image:url('(//img.rocket4app.com/images/fancy/fancybox_sprite@2x.png');
-moz-background-size:44px 152px;
background-size:44px 152px
	}
	#fancybox-loading div{
		background-image:url('(//img.rocket4app.com/images/fancy/fancybox_loading@2x.gif');
-moz-background-size:24px 24px;
background-size:24px 24px
	}
	
}
#fancybox-thumbs{
	position:fixed;
z-index:8050;
left:0;
overflow:hidden;
width:100%
}
#fancybox-thumbs.bottom{
	bottom:20px
}
#fancybox-thumbs.top{
	top:20px
}
#fancybox-thumbs ul{
	position:relative;
margin:0;
padding:0;
list-style:none
}
#fancybox-thumbs ul li{
	float:left;
padding:1px;
opacity:.85
}
#fancybox-thumbs ul li.active{
	padding:0;
opacity:1;
border:1px solid #fff
}
#fancybox-thumbs ul li:hover{
	opacity:1
}
#fancybox-thumbs ul li a{
	position:relative;
display:block;
overflow:hidden;
border:1px solid #222;
outline:none;
background:#111
}
#fancybox-thumbs ul li img{
	position:relative;
display:block;
max-width:none;
padding:0;
border:0
}
.fancybox-skin{
	-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px
}
.fancybox-close{
	top:10px;
right:10px;
width:15px;
height:15px;
background:url(//img.rocket4app.com/images/icons.png) no-repeat -218px -90px
}
.popup{
	display:none;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding:25px 35px 20px;
text-align:center;
color:#fff;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background:#219E57 url(//img.rocket4app.com/images/header_form2.png) no-repeat 50% 0
}
.popup:before{
	position:absolute;
top:2px;
right:2px;
bottom:2px;
left:2px;
display:block;
content:'';
border:1px solid #fff;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px
}
.popup .popup_header{
	margin-top:22px;
text-align:center
}
.popup .popup_header_title{
	font-family:'Roboto Slab', sans-serif;
font-size:21px;
font-weight:700;
line-height:1;
margin-bottom:24px;
text-align:center;
color:#fff
}
.popup .popup_close{
	line-height:14px;
position:absolute;
top:12px;
right:2px;
display:block;
color:#fff
}
.popup .popup_close:hover{
	text-decoration:none
}
.popup_callback{
	padding-right:55px;
padding-left:55px
}
.popup_callback_form{
	margin:0 auto
}
.popup_callback_form .form-group{
	margin-bottom:9px
}
.popup_callback_form .form-group-button{
	margin-top:25px;
margin-bottom:30px
}
.popup_callback_form .form-group-button .btn{
	width:100%
}
.seo{
	position:relative;
z-index:6;
height:444px;
margin-top:-34px;
margin-bottom:85px;
background:url(//img.rocket4app.com/images/seo.png) no-repeat 50% 0
}
.seo .container>.in{
	display:table-cell;
width:960px;
height:444px;
padding-bottom:20px;
vertical-align:middle
}
.seo_arrow{
	margin-bottom:30px;
text-align:center
}
.seo_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
line-height:39px;
text-align:center
}
.seo_text{
	padding-right:100px;
padding-left:100px;
text-align:center
}
.how-it-works{
	margin-bottom:100px
}
.how-it-works_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
font-weight:700;
position:relative;
min-height:74px;
text-align:center;
color:#fff;
background:url(//img.rocket4app.com/images/section_title.png) no-repeat 50% 0
}
.how-it-works_scheme{
	margin-bottom:30px
}
.how-it-works_text{
	text-align:center
}
.advantages{
	height:418px;
margin-bottom:0;
background:url(//img.rocket4app.com/images/advantages.jpg) no-repeat 50% 0
}
.advantages.__white{
	height:auto;
margin-bottom:30px;
padding-top:97px;
background:#fff
}
.advantages_title{
	position:relative;
top:-27px;
background-image:url(//img.rocket4app.com/images/advantages_title.png)
}
.advantages_list{
	margin:-20px 0 0;
padding:0;
list-style:none
}
.advantages_list:after{
	display:block;
clear:both;
content:''
}
.advantages_list li{
	font-family:'Open Sans', sans-serif;
font-size:17px;
font-weight:600;
position:relative;
float:left;
width:25%;
padding-top:125px;
padding-right:10px;
padding-left:10px;
text-align:center
}
.advantages_list li:before{
	position:absolute;
top:0;
left:50%;
display:block;
height:111px;
content:'';
background:url(//img.rocket4app.com/images/advantages.png) no-repeat 0 0
}
.advantages_list li.__1:before{
	width:118px;
margin-left:-59px;
background-position:0 0
}
.advantages_list li.__2:before{
	width:118px;
margin-left:-59px;
background-position:-245px 0
}
.advantages_list li.__3:before{
	width:118px;
margin-left:-59px;
background-position:-489px 0
}
.advantages_list li.__4:before{
	width:118px;
margin-left:-59px;
background-position:-734px 0
}
.apply{
	height:280px;
background:url(//img.rocket4app.com/images/apply_form.jpg) no-repeat 50% 0
}
.apply .container{
	padding-top:35px
}
.apply_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
font-weight:700;
margin-bottom:30px;
text-align:center;
color:#575555
}
.apply_form{
	margin:0;
padding:0
}
.apply_form_controls{
	height:44px;
margin-bottom:38px;
text-align:justify
}
.apply_form_controls>.form-group{
	position:relative;
width:303px
}
.apply_form_controls>.form-group:after{
	position:absolute;
top:100%;
left:0;
display:block;
width:100%;
height:6px;
content:'';
background:url(//img.rocket4app.com/images/form-control_shadow.png) no-repeat 50% 0
}
.apply_form .form-group-button{
	text-align:center
}
.why{
	background:url(//img.rocket4app.com/images/why_bg.png) repeat-x 50% 100%
}
.why .container{
	position:relative;
padding-top:92px;
padding-bottom:92px;
padding-left:340px
}
.why_rocket{
	position:absolute;
z-index:1;
bottom:-100px;
left:-22px;
width:344px;
height:636px;
background:url(//img.rocket4app.com/images/why_rocket.png) no-repeat
}
.why_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
font-weight:700;
line-height:1.3;
margin-bottom:50px;
color:#006c9b
}
.why_list{
	margin:0;
padding:0 0 10px 0;
list-style:none;
background:url(//img.rocket4app.com/images/numbers.png) no-repeat 0 50%
}
.why_list li{
	line-height:1.4;
padding-top:19px;
padding-bottom:19px;
padding-left:70px
}
.reviews{
	height:653px;
background:url(//img.rocket4app.com/images/reviews_bg.jpg) no-repeat 50% 100%
}
.reviews.__light{
	background-image:url(//img.rocket4app.com/images/reviews_bg2.jpg)
}
.reviews .container{
	padding-top:65px
}
.reviews_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
font-weight:700;
margin-bottom:55px;
text-align:center;
color:#fff
}
.reviews.__light .reviews_title{
	color:#575555
}
.reviews_carousel .owl-item{
	width:290px;
text-align:center
}
.reviews_carousel .item{
	margin-left:2%;
position:relative;
display:inline-block;
width:290px;
margin-bottom:35px
}
.reviews_carousel .item:before{
	position:absolute;
bottom:-30px;
left:0;
display:block;
width:100%;
height:13px;
content:'';
background:url(//img.rocket4app.com/images/review-shadow.png) no-repeat 50% 0
}
.reviews_carousel .owl-controls{
	margin-top:0
}
.reviews_carousel .owl-controls .owl-buttons .owl-prev,.reviews_carousel .owl-controls .owl-buttons .owl-next{
	position:absolute;
top:50%;
left:-60px;
overflow:hidden;
width:23px;
height:83px;
margin:0 0 0 2px;
margin-top:-82px;
padding:0;
white-space:nowrap;
text-indent:-9999px;
opacity:1;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
background:url(//img.rocket4app.com/images/reviews_controls.png) no-repeat -38px 0;
filter:alpha(opacity = 100)
}
.reviews_carousel .owl-controls .owl-buttons .owl-next{
	right:-60px;
left:auto;
background-position:-1098px 0
}
.reviews_carousel .owl-controls .owl-buttons .owl-next:hover{
	background-position:-1128px 0 !important
}
.reviews_carousel .owl-controls .owl-buttons .owl-prev:hover{
	background-position:0 0 !important
}
.reviews_carousel.__light .item{
	-webkit-box-shadow:0 2px 0 0 #aaa, 2px 0 0 0 #aaa, -2px 0 0 0 #aaa;
-moz-box-shadow:0 2px 0 0 #aaa, 2px 0 0 0 #aaa, -2px 0 0 0 #aaa;
box-shadow:0 2px 0 0 #aaa, 2px 0 0 0 #aaa, -2px 0 0 0 #aaa
}
.reviews_carousel.__light .owl-controls .owl-buttons .owl-prev{
	background-position:-100px 0
}
.reviews_carousel.__light .owl-controls .owl-buttons .owl-next{
	background-position:-1000px 0
}
.reviews_carousel .item{
	text-align:left;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:0 2px 0 0 #ddd, 2px 0 0 0 #ddd, -2px 0 0 0 #ddd;
-moz-box-shadow:0 2px 0 0 #ddd, 2px 0 0 0 #ddd, -2px 0 0 0 #ddd;
box-shadow:0 2px 0 0 #ddd, 2px 0 0 0 #ddd, -2px 0 0 0 #ddd
}
.reviews_carousel .item_text{
	font-family:'Open Sans', sans-serif;
font-size:14px;
font-style:italic;
line-height:1.5;
overflow:hidden;
height:315px;
padding:25px;
color:#575555;
-webkit-border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;
background:#fff
}
.reviews_carousel .item_author{
	line-height:1.3;
position:relative;
padding:14px 15px;
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
background:#f8c300
}
.reviews_carousel .item_author>.in{
	display:table;
width:100%
}
.reviews_carousel .item_author .in_left{
	display:table-cell;
width:59px;
vertical-align:middle
}
.reviews_carousel .item_author .in_left img{
	display:block;
width:59px;
height:59px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px
}
.reviews_carousel .item_author .in_right{
	display:table-cell;
padding-left:17px;
vertical-align:middle
}
.reviews_carousel .item_author strong{
	display:block
}
.reviews_carousel .item_author:before{
	position:absolute;
top:-4px;
right:15px;
display:block;
width:26px;
height:25px;
content:'';
background:url(//img.rocket4app.com/images/reviews_corner.png) no-repeat 100% 100%
}
.clients{
	height:478px;
margin-bottom:45px;
background:url(//img.rocket4app.com/images/clients.jpg) no-repeat 50% 100%
}
.clients .container{
	padding-top:60px
}
.clients_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
font-weight:700;
margin-bottom:15px;
text-align:center;
color:#575555
}
.clients_cases{
	margin-bottom:45px
}
.clients_cases_link{
	text-decoration:underline
}
.clients_cases_link:hover{
	text-decoration:none
}
.clients_list{
	margin:0;
padding:0 10px;
list-style:none;
text-align:justify
}
.clients_list:after{
	display:inline-block;
width:100%;
content:'';
vertical-align:top
}
.clients_list li{
	display:inline-block;
text-align:center;
vertical-align:top
}
.clients_list li .item_image{
	display:block;
width:144px;
height:144px;
margin:0 auto
}
.clients_list li .item_image img{
	display:block;
width:144px;
height:144px;
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px
}
.clients_list li .item_title{
	font-size:17px;
font-weight:400;
display:block;
margin-top:10px;
text-decoration:none
}
.clients_list li a:hover{
	text-decoration:none
}
.map{
	position:relative;
margin-bottom:-140px
}
.map_title{
	margin-bottom:65px;
text-align:center
}
.map_title small{
	font-family:'Roboto Slab', sans-serif;
font-size:21px;
font-weight:400;
display:block;
margin-top:5px;
color:#575555
}
.map_wrapper{
	position:relative
}
.map_wrapper:after{
	position:absolute;
z-index:1000;
top:-26px;
left:0;
display:block;
width:100%;
height:52px;
content:'';
background:url(//img.rocket4app.com/images/map_corner.png) no-repeat 50% 0
}
.map_wrapper>ymaps{
	width:100% !important
}
.page-header{
	position:relative;
z-index:6;
height:238px;
margin-top:-34px;
margin-bottom:50px;
background:url(//img.rocket4app.com/images/page-header.png) no-repeat 50% 0
}
.page-header .container>.in{
	display:table-cell;
width:960px;
height:238px;
padding-top:20px;
vertical-align:middle
}
.page-header_title{
	font-family:'Roboto Slab', sans-serif;
font-size:50px;
font-weight:normal;
line-height:55px;
margin-bottom:-10px;
text-align:center
}
.page-header_title_med{
	font-family:'Roboto Slab', sans-serif;
font-size:35px;
font-weight:normal;
line-height:55px;
margin-bottom:-10px;
text-align:center
}
.page-header_title_small{
	font-family:'Roboto Slab', sans-serif;
font-size:25px;
font-weight:normal;
line-height:55px;
margin-bottom:-10px;
text-align:center
}
.cases_intro{
	margin-bottom:55px;
padding-right:100px;
padding-left:100px;
text-align:center
}
.cases_intro strong{
	font-weight:600
}
.cases_list{
	display:table
}
.cases_row{
	display:table-row
}
.cases_cell{
	display:table-cell;
width:50%;
padding-right:5%;
padding-bottom:50px;
vertical-align:top
}
.cases_cell a:hover{
	text-decoration:none
}
.cases_cell+.cases_cell{
	padding-right:0;
padding-left:5%
}
.cases_cell>.in{
	position:relative;
padding-left:190px
}
.cases .item_image{
	position:relative;
z-index:1;
float:left;
width:158px;
margin-top:5px;
margin-left:-190px;
padding-bottom:25px;
background:url(//img.rocket4app.com/images/cases_shadow.png) no-repeat 50% 100%
}
.cases .item_image img{
	width:158px
}
.cases .item_title{
	font-family:'Roboto Slab', sans-serif;
font-size:25px;
font-weight:700;
line-height:1;
margin-bottom:15px;
color:#191918
}
.cases .item_subtitle{
	font-family:'Roboto Slab', sans-serif;
font-size:14px;
font-weight:700;
line-height:17px;
margin-bottom:15px;
margin-left:-40px;
padding:10px 30px 10px 40px;
color:#fff;
background:url(//img.rocket4app.com/images/cases_title.png) no-repeat;
-moz-background-size:100% 100%;
background-size:100% 100%;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img.rocket4app.com/images/cases_title.png', sizingMethod='scale');
-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=\'//img.rocket4app.com/images/cases_title.png\', sizingMethod=\'scale\')"
}
.cases .item_subtitle span{
	display:table-cell;
vertical-align:middle
}
.cooperation{
	padding-top:45px;
padding-bottom:45px
}
.cooperation .item{
	margin-bottom:45px;
padding-left:285px
}
.cooperation .item:after{
	display:block;
clear:both;
content:''
}
.cooperation .item_image{
	float:left;
margin-left:-285px
}
.cooperation .item.__reseller .item_image{
	margin-left:-299px
}
.cooperation .item_title{
	margin-bottom:20px
}
.cooperation .item_title small{
	padding-right:20px;
padding-left:20px
}
.cooperation .item.__reseller .item_title{
	width:299px;
background:url(//img.rocket4app.com/images/reseller_title.png) no-repeat
}
.cooperation .item.__developer .item_title{
	width:334px;
background:url(//img.rocket4app.com/images/developer_title.png) no-repeat
}
.pricing{
	padding-bottom:45px;
background:url(//img.rocket4app.com/images/earth_map.png) no-repeat 50% 40px
}
.pricing_title{
	font-family:'Roboto Slab', sans-serif;
font-size:24px;
font-weight:700;
line-height:1;
height:88px;
margin-bottom:20px;
padding-top:37px;
padding-right:30px;
text-align:center;
color:#fff;
background:url(//img.rocket4app.com/images/googleplay_title.png) no-repeat 50% 0
}
.pricing_title.__googleplay1{
	background:url(//img.rocket4app.com/images/googleplay_title.png) no-repeat 50% 0
}
.pricing_title.__googleplay2{
	padding-top:32px;
background:url(//img.rocket4app.com/images/googleplay_title2.png) no-repeat 50% 0
}
.pricing_title.__appstore{
	height:78px;
padding-top:27px;
padding-right:55px;
background:url(//img.rocket4app.com/images/appstore_title.png) no-repeat 50% 0
}
.pricing_title.__appstore2{
	height:78px;
padding-top:27px;
padding-right:55px;
background:url(//img.rocket4app.com/images/appstore_title2.png) no-repeat 50% 0
}
.pricing_table{
	width:100%;
margin-bottom:60px;
border-spacing:10px 0;
border-collapse:separate
}
.pricing_table th{
	font-family:'Open Sans', sans-serif;
font-size:16px;
font-weight:600;
line-height:20px;
padding-bottom:8px;
vertical-align:middle;
color:#191918
}
.pricing_table td{
	font-family:'Roboto Slab', sans-serif;
font-size:16px;
font-weight:700;
padding:6px 10px;
text-align:center;
vertical-align:middle;
color:#191918;
border:1px solid #d6d6d6;
background:white
}
.pricing_table td.cell_top1,.pricing_table td.cell_top2,.pricing_table td.cell_top3{
	width:144px
}
.pricing_table td.cell_title{
	padding-left:40px; 
text-align:left;
min-width:280px;
}
.pricing_table td.cell_title span{
	display:inline-block;
width:60px
}
.pricing_table tr.lightblue td{
	background:#e7f7f8
}
.pricing_table tr.lightviolet td{
	background:#e3efff
}
.price-advantage { padding-bottom: 124px; }
.price-adv { width: 100%; display: block; }
.price-adv .adv { float: left; display: block; width: 315px; font-family: 'Roboto Slab',sans-serif; font-size: 115%; font-weight: 200; line-height: 136%; margin: 0px 2px; padding: 15px 10px; border: 1px solid silver; }
.adv span { width: 56px; height: 56px; display: block; float: left; margin: 5px 20px 8px 15px; }
.adv1 { background-image: url('//img.rocket4app.com/images/price-adv1.png'); }
.adv2 { background-image: url('//img.rocket4app.com/images/price-adv2.png'); }
.adv3 { background-image: url('//img.rocket4app.com/images/price-adv3.png'); }
.offers{
	margin-bottom:50px
}
.offers_title{
	font-family:'Roboto Slab', sans-serif;
font-size:29px;
font-weight:700;
line-height:54px;
position:relative;
min-height:64px;
margin-bottom:50px;
text-align:center;
color:#575555;
background:url(//img.rocket4app.com/images/grey_title.png) no-repeat 50% 0
}
.offers_list{
	text-align:center
}
.offers_list .item{
	display:inline-block;
margin-left:140px;
text-align:center;
vertical-align:top
}
.offers_list .item:first-child{
	margin-left:0
}
.offers_list .item_image{
	overflow:hidden;
height:200px
}
.offers_list .item_title{
	font-family:'Roboto Slab', sans-serif;
font-size:25px;
font-weight:400;
position:relative;
display:block;
margin-top:50px;
color:#575555
}
.offers_list .item_title:hover{
	text-decoration:none
}
.offers_list .item_title:before{
	position:absolute;
top:-20px;
left:50%;
display:block;
width:66px;
height:6px;
margin-left:-33px;
content:'';
background:#20719f
}
.post p{
	line-height:1.5em;
margin-bottom:1em
}
.post strong{
	font-weight:600
}
.post hr{
	display:block;
margin-top:2.5em;
margin-bottom:2.5em;
border:none;
border-bottom:1px solid #cfcece;
background:none
}
.post .alignleft{
	display:block;
float:left;
margin-right:50px;
margin-bottom:1.5em;
border:1px solid #cfcece
}
.post .alignright{
	display:block;
float:right;
margin-bottom:1.5em;
margin-left:50px;
border:1px solid #cfcece
}
.post ol{
	overflow:hidden;
margin-top:20px;
margin-bottom:20px;
padding:0;
list-style:none;
counter-reset:section
}
.post ol>li{
	position:relative;
display:block;
margin-top:8px;
margin-bottom:8px;
padding-left:17px
}
.post ol>li:before{
	font-family:'PT Sans', sans-serif;
font-size:14px;
font-weight:700;
display:block;
float:left;
margin-right:10px;
margin-left:-17px;
content:counters(section, '.') '. ';
counter-increment:section;
color:#004673
}
.post ol>li ol{
	margin-top:5px;
margin-bottom:5px;
padding-left:10px
}

@import "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400|Roboto+Slab:400,300,700&subset=latin,cyrillic-ext";
